.card-details {
  background-color: rgb(36, 36, 36);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 5px 0px 50px rgb(63, 63, 63);
  color: #ffffff;
}

.atm-card {
  background-color: grey;
  border-radius: 15px;
  padding: 10px;
  margin: 20px -80px;
  margin-bottom: 20px;
  width: 300px;
  height: 180px;
  box-shadow: 5px 0px 30px rgb(63, 63, 63);
}

.close {
  cursor: pointer;
}

.card-items {
  padding: 70px 0;
  display: flex;
  align-content: center;
}

.counter {
  background-color: black;
}

.input {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid white;
  outline: none;
  font-size: 1.3rem;
  color: white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.input:focus {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid white;
  outline: none;
  font-size: 1.3rem;
  color: white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
