.myBody {
  padding-top: 5%;
}

.card {
  background-color: white;
  margin: auto;
  display: flex;
  justify-content: center;
  width: 30%;
  padding: 20px;
}

h5 {
  text-align: center;
}

.login-button {
  align-content: flex-end;
}
